{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [prj_basic]}
]}.

%% the plugin itself
{plugins, [rebar3_proper]}.

%% The proper dependency needs to be locally installed,
%% in order for all macros to be usable.
%% If the dependency is included automatically by rebar3,
%% only ?FORALL() will be usable.
%% ↓↓↓DEPRECATED↓↓↓


%% The PropEr dependency is required to compile the test cases
%% and will be used to run the tests as well.
% {profiles,
%     [{test, [
%         {deps, [
%             %% hex
%             %{proper, "1.3.0"},
%             %% newest from master
%             {proper, {git, "https://github.com/proper-testing/proper.git",
%                       {branch, "master"}}}
%         ]}
%     ]}
% ]}.

% %% the plugin itself
% {plugins, [rebar3_proper]}.